.slider-container {
    padding: 8px 15px;
}

/*.slider-container form {
    margin-left: -10px;
    margin-right: -10px;
}*/

.slider-container .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.slider-container label {
    margin-bottom: 0;
    padding-top: 4px;
}

.slider-container input.form-control {
    width: 80px;
    height: 24px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.slider-container .slider {
    width: 85%;
    margin-top: 6px;
}
.slider-container .title-values {
    width: 85%;
}

.slider-container .slider-selection {
    background: rgba(60, 60, 60, 0.5);
}

.slider-container .slider-track-high {
    background: rgba(60, 60, 60, 0.2);
}

.slider-container .slider-track-low {
    background: rgba(60, 60, 60, 0.2);
}

.slider-container .slider-handle {
    background-color: rgba(8, 88, 158, 1);
    background-image: none;
}

@media (max-width: 767px) {
    .slider-container .slider-handle {
        width: 24px;
        height: 24px;
    }
    .slider-container .slider .slider-track {
        margin-top: -3px;
    }
}

.slider-container .info-icon {
    float: right;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    opacity: 0.4;
}

.slider-container .info-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.slider-container .info-text {
    display: none;
    font-size: 10px;
    padding: 5px 0;
    /*color: rgb(182, 0, 0);*/
}

.hiddenSpan {
    display: inline-block;
    visibility: hidden;
    white-space: pre;
    font-size: 12px;
    height: 24px;
}