.style-wms-win {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 500px;
    margin: 10px 10px 30px 10px;
    display: none;
    z-index: 1010;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.176);
    border: 1px solid rgb(229, 229, 229);
}

.style-wms-win > .header {
    padding-left: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.style-wms-win > .header > .title {
    cursor: move;
    font-size: 14px;
    padding: 8px 0;
    color: rgb(85, 85, 85);
}

.style-wms-win > .header > .buttons {
    color: rgb(85, 85, 85);
    font-size: 14px;
    margin: 0;
}

.style-wms-win > .header > .buttons > span {
    padding: 8px;
    cursor: pointer;
}

.style-wms-win > .content {
    background-color: white;
    padding: 12px
}

.error {
    font-size: 10px;
    color: rgba(169, 68, 66, 1);
}

.range-label {
    letter-spacing: 0.6px;
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
}

.style-wms-win .layer-name {
    color: rgb(182, 0, 0);
    padding-bottom: 6px;
}

#style-wms-colorpicker > input {
    display: none;
}

#style-wms-colorpicker > span {
    border-left: 1px solid #ccc;
}

.btn-panel-submit {
    float: right;
}

.stylewms-panel > .btn {
    width: 49%;
}

.stylewms-panel > .btn-panel-submit {
    margin-left: 1%;
}

.stylewms-panel > .btn-panel-reset {
    margin-right: 1%;
}
