.it-gbm .btn {
    margin: 15px;
    color: #ffffff;
    background-color: rgb(8, 88, 158);
    padding: 4px 20px;
    font-size: 14px;
}

.it-gbm .btn:hover {
    background-color: #5e90b6;
}

.it-gbm h3 {
    padding: 0;
    margin: 8px;
    border: 0;
    max-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
