<!DOCTYPE html>
    <% if (this.model.get("isExpanded")) { %>
        <span class="glyphicon glyphicon-minus-sign"> </span>
   <% } else { %>
        <span class="glyphicon glyphicon-plus-sign"> </span>
   <% } %>
    <% if(isLeafFolder && isFolderSelectable) { %>
        <% if(isSelected) { %>
            <span class="glyphicon glyphicon-check selectall" title="Alle Layer entfernen"></span>
        <%} else {%>
            <span class="glyphicon glyphicon-unchecked selectall" title="Alle Layer hinzufügen"></span>
        <%}%>
    <%}%>
    <span class="title"><%= name %></span>
