#filechoser {
    color: rgb(255,0,0);
}


div.fileinputs {
	position: relative;
}

input.file {
	position: relative;
    height: 100%;
	text-align: left;
	-moz-opacity:0 ;
	opacity: 0;
	z-index: 2;
}

div.fakefile {
	position: absolute;
	top: 0px;
    left: 0px;
	z-index: 1;
}


