.tool-window {
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute !important;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    z-index: 999;
    max-width: 500px;
}

.tool-window > .header {
    padding-left: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
    letter-spacing: 0.6px;
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
}

.tool-window > .header > .move {
    cursor: move;
}

.tool-window > .header-min {
    background-color: rgb(182, 0, 0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.tool-window > .header-min > .move {
    cursor: pointer;
}

.tool-window > .header > .title {
    white-space: nowrap;
    min-width: 250px;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: rgb(85, 85, 85);
    width: calc(100% - 50px);
    margin: 0;
}

.tool-window > .header-min > .title {
    color: rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    min-width: 0;
}

.tool-window > .header > .buttons {
    color: rgb(85, 85, 85);
    font-size: 14px;
    margin: 0;
}

.tool-window > .header-min > .buttons {
    color: rgb(255, 255, 255);
}

.tool-window > .header > .buttons > .glyphicon-minus {
    top: 3px;
}

.tool-window > .header > .buttons > span {
    padding: 8px 8px 8px 0px;
}

.tool-window > .header > .buttons > span:hover:not(.win-icon) {
    opacity: 0.7;
    cursor: pointer;
}

.win-body {
    padding: 20px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
}

.table-tool-window {
    font-family: "HamburgSans",sans-serif;
    border-radius: 12px;
    background-color: #F2F2F2;
    top: 70%;
    left: calc(50% + 560px);
    margin-bottom: 30px;
}

.table-tool-window .header{
    font-family: "HamburgSans",sans-serif;
}

.table-tool-window .win-body {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #F2F2F2;
}

.table-tool-window .win-body * {
    border-radius: 12px;
}
