#layerslider {
	width: 350px;
}
#layerslider .progress-bar {
	background-color: rgb(85, 85, 85);
	transition: all .6s;
}

#layerslider .progress {
	height: 25px;
	background-color: #eee;
}

#layerslider .btn-default {
	background-color: #eee;
	transition: all .2s ease-in-out;
}

#layerslider .btn-default:hover {
	background-color: rgb(85, 85, 85);
	color: #eee;
}

#layerslider input[readonly]{
  	color: black;
  	cursor: not-allowed;
  	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
