/***** Destop *****/
.featurelist-list-table-th {
    cursor: pointer;
}

.featurelist-list-table-th > span {
    float:left;
    width: 15px;
    color: gray;
}

.featurelist-list-table-th > .featurelist-list-table-th-sorted {
    color: black;
}

.featurelist-list-button {
    position: relative;
    right: 0px;
}

.featurelist-list-message {
    float: left;
    text-align: center;
    align-items: center;
}

.featurelist-details-li {
    cursor: text;
}

.featurelist-details-ul {
    max-height: 400px;;
    overflow: auto;
    cursor: auto;
}

.featurelist-list-table-td {
    height: 15px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.featurelist-list-table-tr{
    cursor: pointer;
}

.featurelist-details {
    display: none;
    margin-bottom: 0px;
}

.featurelist-list {
    display: none;
    margin-bottom: 0px;
}

.featurelist-themes {
    width: 100%;
}

.featurelist-win {
    position: absolute;
    top: 20px;
    left: 20px;
    min-width: 25%;
    margin: 60px 10px 30px 10px;
    display: none;
    background-color: rgb(255, 255, 255);
}

.featurelist-win > .featurelist-win-header {
    color: #777;
    cursor: move;
}

.featurelist-win > .featurelist-win-content {
    overflow-y: auto;
    padding: 5px;
}

.featurelist-win-header {
    padding-left: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.featurelist-win-header > .title {
    white-space: nowrap;
    min-width: 250px;
    cursor: move;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: rgb(85, 85, 85);
}

.featurelist-win-header > .buttons {
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.featurelist-win-header > .buttons > span {
    padding: 8px 3px;
}

.featurelist-win-header > .buttons > span:hover:not(.win-icon) {
    opacity: 0.7;
    cursor: pointer;
}

.featurelist-win-content > .panel-group {
    padding: 12px;
    margin-bottom: 0;
}

.featurelist-win-content > .panel-group .panel {
    margin-top: 8px;
}

.featurelist-heading {
    padding: 8px;
}

.featurelist-heading > .featurelist-title {
    font-size: 12px;
}

/***** Mobil *****/
.featurelistModal {
    background-color: rgb(255, 255, 255);
    /*background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    color: rgb(85, 85, 85);
    border-bottom: 1px solid rgb(229, 229, 229);
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    padding: 10px;
}

.featurelistModal > button {
    padding: 4px 0px;
}

.featurelistModal > h4 > span {
    padding: 0 8px;
}

.panel-heading {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.tdfeaturelist {
    padding: 3px;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

.tdfeaturelist > img {
    max-height: 35px;
}

.panel-featurelist {
    overflow-x: auto;
    max-height: 300px;
    padding: 8px;
}

.panel-featurelist > p {
    margin: 0;
}
