<!DOCTYPE html>

<% if (dataReceived) { %>
    <div class="heading additional-text">Unter Berücksichtigung der Geheimhaltung wurde folgender Wert berechnet:</div>
    <table class="table">
        <% if (data.quelle_fhh !== "nein") { %>
            <tr>
                <td>Einwohnerzahl in Hamburg:</td>
                <td><%=data.einwohner_fhh%></td>
            </tr>
        <% } %>
        <% if (data.quelle_mrh !== "nein") { %>
            <tr>
                <td>Einwohnerzahl in der Metropolregion ohne Hamburg:</td>
                <td><%=data.einwohner_mrh%></td>
            </tr>
        <% } %>
            <tr>
                <td>Größe der abgefragten Fläche:</td>
                <td><%=data.suchflaeche%></td>
            </tr>
    </table>
    <% if (data.einwohner_fhh > 0) { %>
        <div class="hinweis additional-text">
            <span>Hinweis:</span> Aus Datenschutzgründen wird bei Einwohnerzahlen aus dem Melderegister in Hamburg kleiner 3 die Zahl drei oder null verwendet.
            <br>
            <span>Datenquelle Hamburg:</span> Einwohner mit Hauptwohnsitz, Melderegister 31.12.2017.
        </div>
        <div><a> Quelle FHH</a></div>
    <% } %>
    <% if (data.einwohner_mrh > 0) { %>

        <div class="hinweis additional-text">
            <% if (data.quelle_mrh === "tlw" && data.quelle_fhh === "nein") { %>
                <span>Hinweis:</span> Teile des Suchgebiets liegen außerhalb der Grenzen der Metropolregion Hamburg und wurden für die Ermittlung der Einwohnerzahl nicht berücksichtigt.
            <% } %>
            <span>Datenquelle Metropolregion ohne Hamburg:</span> Bevölkerung insgesamt im 100 Meter-Gitter, Zensus 2011. Stand der Zensus-Daten 09.05.2011.
        </div>
        <div><a> Quelle MRH</a></div>
    <% } %>
<% } else { %>
    <% if (requesting) { %>
        <div id='einwohner-loader'><img src='../../img/ajax-loader.gif'></div>
    <% } %>
<%}%>

